In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from dateutil.relativedelta import relativedelta

In [2]:
#Load GJGNY dataset into a Dataframe
df = pd.read_csv("Green_Jobs_-_Green_New_York__GJGNY__Residential_Loan_Portfolio___Beginning_November_2010.csv")
df

,Reporting Period,CONTRACT DATE,SETUP DATE,ORIGINAL LOAN AMOUNT,ORIGINAL TERM,ORIGINAL MATURITY DATE,CURRENT MATURITY DATE,INTEREST RATE,CREDIT SCORE CURRENT HIGH,CREDIT SCORE,...,ACCOUNT CODE DATE,CANCEL REASON,TYPE OF BANKRUPTCY,Months Since Origination,Payments Made,Purpose,Loan Type,Underwriting,Pledged,Georeference
0,12/31/2021,01/20/2011,01/24/2011,7920.00,60,01/20/2016,04/23/2013,3.99,790.0,790.0,...,05/17/2013,NaN,NaN,131.4,60.0,Energy Efficiency (EE),Smart Energy,Tier 1,Unpledged,POINT (-78.898159 42.948761)
1,12/31/2021,06/17/2016,06/27/2016,19169.60,180,06/17/2031,11/18/2021,3.99,754.0,753.0,...,11/19/2021,NaN,NaN,66.4,180.0,Solar (PV),Smart Energy,Tier 1,Series 2015A PV Bonds,POINT (-76.757158 43.096791)
2,12/31/2021,02/10/2011,02/14/2011,9892.69,120,02/10/2021,10/16/2014,3.49,722.0,722.0,...,11/21/2014,NaN,NaN,130.6,120.0,Energy Efficiency (EE),Smart Energy,Tier 1,Series 2013A EE Bonds,POINT (-78.83641 42.727748000000005)
3,12/31/2021,08/15/2011,08/19/2011,13000.00,120,08/15/2021,03/03/2021,3.49,754.0,754.0,...,03/03/2021,NaN,NaN,124.5,120.0,Energy Efficiency (EE),Smart Energy,Tier 1,Series 2013A EE Bonds,POINT (-75.762715 43.082961)
4,12/31/2021,04/26/2021,04/30/2021,16554.00,180,04/26/2036,04/26/2036,6.99,687.0,687.0,...,04/30/2021,NaN,NaN,8.1,8.0,Solar (PV),Smart Energy,Tier 1,NaN,POINT (-73.783424 42.852843)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34101,12/31/2021,04/16/2013,04/19/2013,4294.52,120,04/16/2023,08/16/2018,2.99,777.0,777.0,...,08/28/2018,NaN,NaN,104.5,120.0,Energy Efficiency (EE),On Bill Recovery,Tier 2,Unpledged,POINT (-72.749509 40.93059)
34102,12/31/2021,04/24/2018,04/30/2018,18080.00,180,04/24/2033,03/16/2020,4.99,739.0,739.0,...,04/08/2020,NaN,NaN,44.2,180.0,Solar (PV),On Bill Recovery,Tier 2,Unpledged,POINT (-73.072068 40.797268)
34103,12/31/2021,11/14/2016,02/20/2020,1919.88,143,11/14/2031,04/15/2032,3.49,NaN,NaN,...,02/20/2020,NaN,NaN,61.5,14.0,Energy Efficiency (EE),On Bill Recovery,Tier 2,Unpledged,POINT (-78.7594 42.928)
34104,12/31/2021,02/26/2021,03/10/2021,2570.00,180,02/28/2036,02/28/2036,6.49,731.0,685.0,...,03/10/2021,NaN,NaN,10.1,10.0,Air Source Heat Pump (ASHP),Companion,Tier 2,NaN,POINT (-73.517198 40.725845)
34105,12/31/2021,08/14/2015,08/24/2015,14199.75,180,08/14/2030,10/15/2030,3.49,714.0,685.0,...,08/24/2015,NaN,NaN,76.5,73.0,Energy Efficiency (EE),On Bill Recovery,Tier 2,Unpledged,POINT (-73.793408 41.292054)

In [3]:
df.columns

Index(['Reporting Period', 'CONTRACT DATE', 'SETUP DATE',
       'ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'ORIGINAL MATURITY DATE',
       'CURRENT MATURITY DATE', 'INTEREST RATE', 'CREDIT SCORE CURRENT HIGH',
       'CREDIT SCORE', 'CREDIT SCORE NAME 2', 'DEBT TO INCOME',
       'FIRST PAYMENT DATE', 'LAST PAYMENT DATE', 'LAST PAYMENT AMOUNT',
       'NEXT PAYMENT DUE DATE', 'PAYMENT AMOUNT', 'CURRENT BALANCE',
       'UNAPPLIED CASH', 'DELINQUENT AMOUNT', 'TOTAL INTEREST PAID',
       'TOTAL LATE CHARGE PAID', 'PAYMENTS REMAINING', 'DAYS DELINQUENT',
       'PROPERTY COUNTY', 'UTILITY', 'INSTALLATION CITY', 'INSTALLATION ZIP',
       'Contractor Name', 'SUCCESSOR NUMBER', 'ACCOUNT CODE',
       'ACCOUNT CODE DATE', 'CANCEL REASON', 'TYPE OF BANKRUPTCY',
       'Months Since Origination', 'Payments Made', 'Purpose', 'Loan Type',
       'Underwriting', 'Pledged', 'Georeference'],
      dtype='object')

In [4]:
df.dtypes

Reporting Period              object
CONTRACT DATE                 object
SETUP DATE                    object
ORIGINAL LOAN AMOUNT         float64
ORIGINAL TERM                  int64
ORIGINAL MATURITY DATE        object
CURRENT MATURITY DATE         object
INTEREST RATE                float64
CREDIT SCORE CURRENT HIGH    float64
CREDIT SCORE                 float64
CREDIT SCORE NAME 2          float64
DEBT TO INCOME               float64
FIRST PAYMENT DATE            object
LAST PAYMENT DATE             object
LAST PAYMENT AMOUNT          float64
NEXT PAYMENT DUE DATE         object
PAYMENT AMOUNT               float64
CURRENT BALANCE              float64
UNAPPLIED CASH               float64
DELINQUENT AMOUNT            float64
TOTAL INTEREST PAID          float64
TOTAL LATE CHARGE PAID       float64
PAYMENTS REMAINING             int64
DAYS DELINQUENT                int64
PROPERTY COUNTY               object
UTILITY                       object
INSTALLATION CITY             object
INSTALLATION ZIP             float64
Contractor Name               object
SUCCESSOR NUMBER              object
ACCOUNT CODE                  object
ACCOUNT CODE DATE             object
CANCEL REASON                 object
TYPE OF BANKRUPTCY            object
Months Since Origination     float64
Payments Made                float64
Purpose                       object
Loan Type                     object
Underwriting                  object
Pledged                       object
Georeference                  object
dtype: object

In [12]:
df['SETUP DATE'] = pd.to_datetime(df['SETUP DATE'])

Create a residential loan summary based on loan type

In [19]:
# Set the x-axis to a list of strings for each month for the last 3 years.
most_recent_date = df['SETUP DATE'].max()
three_yrs_ago = most_recent_date - relativedelta(years=3)
x_axis = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]

# Set the y-axis to a list of floats as the total fare in US dollars accumulated for each month.
y_axis = [10.02, 23.24, 39.20, 35.42, 32.34, 27.04, 43.82, 10.56, 11.85, 27.90, 20.71, 20.09]

Timestamp('2018-12-30 00:00:00')